@{
  Layout = "_Layout";
}

@using BestRestaurants.Models; 
@model BestRestaurants.Models.Cuisine;
  

<h2>@Html.DisplayFor(model => model.Name) Cuisine Restaurants</h2>
<hr />


<ul>
@if (@Model.Restaurants.Count == 0)
{
  <p>nothing found</p>
}

@foreach (Restaurant restaurant in @Model.Restaurants)
{
  <li>@Html.ActionLink(@restaurant.Name, "Details", "Restaurants", new { id = restaurant.RestaurantId})</li>
}
</ul>

<p>@Html.ActionLink("Cuisines home", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

