@{
  Layout = "_Layout";
}

@using BestRestaurants.Models; 
@model BestRestaurants.Models.Cuisine;
  

<h2>Category Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<ul>
@if (@Model.Restaurants.Count == 0)
{
  <p>nothing found</p>
}

@foreach (Restaurant restaurant in @Model.Restaurants)
{
  <li>Restaurant: @restaurant.Name</li>
}
</ul>

<p>@Html.ActionLink("Cuisines home", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

